--- 
title: About
layout: default
---

<div class="about-content-item">
    <img class="about-content-pic" src="images/about-intro-pic.JPG">

    <p>📷 : <a class="underline" href="https://vsco.co/matthew-chau/gallery" target="_blank">@matthew_chau</a></p>

    <h1>💁‍♂️ About Me!</h1> <!-- About Me  -->

    <h2>As of April 2021, I am a radiography student at McMaster University in Canada. I am currently attending my clinical placement at Guelph General Hospital.</h2>

    <h1>🛠️ What I do</h1> <!-- What I do  -->

    <ul>
        <li>I am a fourth-year <b class="underline">student radiologic technologist</b> at McMaster University, anticipating to graduate in Fall of 2021.</li>
        <li>I specialize in imaging patients using <b class="underline">x-ray equipment</b> ☢️ and CT-scanners to provide medical images for doctors to diagnose diseases and conditions.</li>
        <li>I am a <b class="underline">self-taught web developer</b> 👨‍💻. This website is coded entirely by myself from scratch. I am passionate about learning new programming languages.</li>
    </ul>

    <h1>💖 What I like</h1>  <!-- What I like  -->

    <ul>
        <li>I like to read 📚. I think reading is a great way to enhance my attention skills and to enrich my personal knowledge.</li>
        <li>I love to journal 🖋️. Most of the content of my writing are my personal interpretations and applications of the books I’ve read. You can read some of my personal thoughts in the blogs section. </li>
        <li>I enjoy playing music 🎹. I have been trying to improve my guitar playing techniques ever since quarantine started.</li>
    </ul>

    <h1>🍙 Let's Keep in Touch!</h1>  <!-- Social Media stuff -->

    <ul>
        <li><i class="fab fa-facebook-messenger"></i> <a href="https://www.messenger.com/" class="underline" target="_blank"><b>Mesenger</b></a>: If you have quick and short comments or questions, please reach via Messenger. I usually reply quickly.</li>
        <li><i class="fab fa-instagram"></i> <a href="https://www.instagram.com/i.vanchan/" class="underline" target="_blank"><b>Instagram</b></a>: You can reach me on Instagram for short questions. I check my Instagram DM around once a day.</li>
        <li><i class="fas fa-envelope"></i> <a href="mailto:chank52@mcmaster.ca" class="underline" target="_blank"><b>Email</b></a>: If you have longer questions and comments, please shoot an email to chank52@mcmaster.ca I reply to all my emails.</li>
    </ul>

</div>

<div>
    {% include blog-read-more.html %}
    {% include hz-social-bar.html %}
</div>