--- 
title: Projects
layout: default
---

<div class="blog-intro-wrap">
    <img class="blog-intro-pic" src="images/projects-background.jpg">
    {% include disclaimer.html %}

<!-- BODY -->
<!-- Life -->

    <h1>Pathology Reviews 🩺</h1>
    <div class="blog-items-wrap">
        {% for pathology in site.categories.pathology %}
        <figure class="blog-items">
            <a href="{{ pathology.url | absolute_url }}">
                <h1>{{ pathology.title }}</h1>
                <p>🖋️ {{pathology.author}}  | 📅 {{pathology.date | date:"%B %-d %Y" }} | 📍 {{pathology.location}}</p>
                <p>{{ pathology.excerpt | strip_html | truncatewords: 30}}</p>
            </a>
        </figure>
        {% endfor %}
    </div>

<!-- Book Reviews -->
    <h1>Physics Reports 💡</h1>
    <div class="blog-items-wrap">
        {% for physics in site.categories.physics %}
        <figure class="blog-items">
            <a href="{{ physics.url | absolute_url }}">
                <h1>{{ physics.title }}</h1>
                <p>🖋️ {{physics.author}}  | 📅 {{physics.date | date:"%B %-d %Y" }}  | 📍 {{physics.location}}</p>
                <p>{{ physics.excerpt | strip_html | truncatewords: 30}}</p>
                <p></p>
            </a>
        </figure>
        {% endfor %}
    </div>
    <!-- This is the template code for additional blogs -->
<!--<figure class="blog-items">
        <a href="#" class="blog-items-container">
        <div class="blog-items-content">
            <h1></h1>
            <p>🖊️ Ivan Chan | 📅 2021 | 📍 Toronto, ON  | ⏱️ x min</p>
            <p></p>
        </div>
        <div class="blog-items-content">
            <img class="blog-cover-image" src="#">
        </div>
        </a>
    </figure> -->
</div>
<div>
    <img id="anime-head" src="{{site.baseurl}}/images/anime-head.png">
    <div id="side-summary-social">
        <h3>Ivan Chan</h3>
        <em>Personal academic archives</em>🖋️😊
        <p>This page is a archive personal selection of academic projects which includes physics reports, pathology reviews, and any other academic assignments completed in McMaster University. Any ongoing self-directed research will be posted here as well. </p>
        <li><i class="fas fa-map-marker-alt side-summary-icon"></i> &nbsp; Toronto, Canada</li>
        <li><a href="https://www.messenger.com/" target="_blank"><i class="fab fa-facebook-messenger side-summary-icon"></i> &nbsp; ivanchan.messenger</a></li>
        <li><a href="https://www.facebook.com/dontcallmeevan" target="_blank"><i class="fab fa-facebook side-summary-icon"></i> &nbsp; Ivan Chan </i></a></li>
        <li><a href="https://www.instagram.com/i.vanchan/" target="_blank"><i class="fab fa-instagram side-summary-icon"></i> &nbsp; @i.vanchan</a></li>
        <li><a href="https://www.linkedin.com/in/ivan-chan-063b43144/" target="_blank"><i class="fab fa-linkedin side-summary-icon"></i> &nbsp; Ivan's Linkedin</a></li>
    </div>
    {% include hz-social-bar.html %}
</div>