/*
FONTS

font-family: 'Montserrat', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Kaushan Script', cursive;

COLOURS

#F7F3E3 - sandy white
#303030 - grey
#000000 - black
#202020 - dark grey
lightcoral
/* GLOBAL */
html{ 
    font-family: 'Montserrat', sans-serif;
    color: #F7F3E3;
    letter-spacing: -0.05em;
    background-color: #202020
}

.intro-content-wrap {
    max-width: 90%;
    margin: 0 auto;
    padding: 10px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    line-height: 1.5;
    font-size: 20px;
}

li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    line-height: 1.6;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #F7F3E3;;
}

.divider {
    text-align: center;
    padding: 20px;
}

blockquote {
    font-size: 18px;
}

.btn-links {
    background-color: #202020;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    padding: 10px 10px;
}

/* NAVIGATION */

.nav-bar {
    display: flex;
    justify-content: space-between;
}

.brand-name {
    font-size: 1.5em;
    letter-spacing: 0.15em;
    margin: 1em;
}

.nav-bar ul {
    display: flex;
    text-decoration: none;
    list-style: none;
}

.nav-bar li a {
    padding: 5px 10px;
    margin: 10px;
    color: white;
    font-size: 18px;
    display: inline-block;
}

.nav-bar a:hover {
    background-color: #484848;
    border-radius: 15px;
    transition: all 0.3s ease 0s;
}

.toggle-button{
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #F7F3E3;
    border-radius: 10px;
}


.facebook, .instagram, .email, .linkedin {
    height: 30px;
    width: 30px;
}

/* HOME */

.home-intro-background {
    background-color: #202020;
    padding-top: 0px;
    padding-bottom: 100px;
    position: relative;
}

.photo-credit {
    color: white; 
    font-size: 1em;
    text-align: center;
}

.home-intro-content{
    text-align: center;
}

.home-intro-content h1 {
    color: #F7F3E3;
    font-family: 'Kaushan Script', cursive;   
    font-size: 80px;
}

.home-intro-content p {
    color: #F7F3E3;
    font-size: 25px;
    letter-spacing: 1;
    margin: 3px;
}

.home-body > p {
    text-align: center;
    letter-spacing: 1em;
    font-weight: 800;
    font-size: 1.5em;
    margin: 50px;
}

.home-content-wrap{
    max-width: 85%;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1em;
}

.home-text-wrap{
    max-width: 86%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.home-text-item {
    background-color: #303030;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    /* max-height: 450px; */
    grid-gap: 1em;
}

.home-content-item {
    background-color: #063268;;
    padding: 20px;
    border-radius: 20px;
}

.home-content-item > p {
    font-size: 1em;
}

.home-content-item > h1 {
    margin-top: 0;
    color: lightcoral;
    font-size: 1.5em;
}

.pinned-image {
    max-width: 100%;
    max-height: auto;
    object-fit: cover;
}

.home-text-item h1 {
    font-size: 20px;
    letter-spacing: -0.03rem;
    margin: 0;
    color: lightcoral;
    font-size: 1.4em;
}

.home-text-item p {
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: -0.03em;
    font-size: 1em;
}

/* BLOG */

.blog-intro-wrap {
    max-width: 85%;
    margin: 0 auto;
}

.blog-intro-pic {
    width: 100%;
}

.blog-intro-item > p {
    font-size: 0.9em;
    line-height: 1.2;
    letter-spacing: -0.04em;
}

.blog-title-wrap {
    max-width: 85%;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
}

.blog-home-wrap {
    max-width: 85%;
    margin: 0 auto;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.blog-title-item {
    flex: 1;
    padding: 30px;
}

.blog-title-item > img {
    width: 550px;
    height: auto;
}

.blog-title-item > h1 {
    color: F;
    font-size: 2.5em;
}

.blog-items {
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: #303030;
    border-radius: 20px;
}

.blog-items > h1 {
    margin-top: 0;
    font-size: 26px;
    color: lightcoral;
}

.blog-items p {
    font-size: 18px;
    letter-spacing: -0.05em;
}

.blog-content-wrap {
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
}

/* .blogLinks {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: darkblue;
} */

.blog-content h1 {
    font-size: 2.5em;
    margin: 15px 0px;
}

.blog-content h2 {
    font-size: 1.1em;
    color: lightcoral;
    margin-bottom: 40px;
    letter-spacing: 0;
}

.blog-content h3 {
    font-size: 1.6em;
    font-weight: 600;
    letter-spacing: 0;
    margin-top: 50px;
    color: #b3b3b3;
}

.blog-content p {
    line-height: 1.6;
}

.blog-content a{
    color: wheat;
}

.blog-content blockquote {
    font-size: 18px;
    font-weight: 100;
}

/* ARCHIVE */

/* .taiwanFlag {
    max-height: 80%;
    max-width: 80%;
    display: block;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

.clinicalBoys {
    max-height: 80%;
    max-width: 80%;
    display: block;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.studyPic {
    max-height: 90%;
    max-width: 90%;
    display: block;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Project */

.project-intro-wrap {
    max-width: 85%;
    margin: 0 auto;
}

.project-intro-item > h1 {
    font-size: 43px;
}

.project-intro-item p {
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -0.04em;
}

.project-intro-pic {
    width: 100%;
}

.project-title-wrap {
    display: flex;
    padding: 50px;
    max-width: 80%;
    margin: 0 auto;
}

.project-title-items {
    flex: 1;
}

.project-title-items > img {
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.project-title-items > h1 {
    color:  #b3b3b3;
}

.project-items {
    padding: 20px;
    margin: 10px;
    background-color: #303030;
    border-radius: 20px;
}

.project-items > h1 {
    margin-top: 0;
    font-size: 26px;
    color: lightcoral;
}

.project-items p {
    font-size: 18px;
    letter-spacing: -0.05em;
}

.project-content-wrap {
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.project-home-wrap {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 85%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.project-content p {
    letter-spacing: -0.06em;
    line-height: 1.8;
}

.project-content h1{
    font-size: 2.5em;
    margin-bottom: 0;
    letter-spacing: 0;
}

.project-content h2 {
    font-size: 1.1em;
    color: lightcoral;
    margin-bottom: 40px;
    letter-spacing: 0;
}

.project-content h3:first-of-type, .project-content h3:last-of-type{
    font-size: 30px;
    text-align: center;
}

.project-content h3 {
    font-size: 25px;
    margin-top: 50px;
    color: #b3b3b3;
    letter-spacing: 0;
}

.physLab1F1 {
    max-width: 50%;
    max-height: auto;
}

.physLab1F2, .physLab1F3, .physLab1F4, .physLab1F5, .endoStroke, .endoCT, .doubleDensity, .echoEndo, .starPatt, .bowelPerf, .absAbsTx, .absUS, .abdAbsCor, .absPatt, .phiLargeFFS, .phiSmallFFS, .sieLargeFFS, .sieSmallFFS{
    max-height: 100%;
    max-width: 100%;
}

table {
    color: whitesmoke;
}

th, td {
    padding: 10px;
    text-align-last: left;
}

/* ABOUT */

.aboutIntroBackground {
    background-image: url(images/rainbow-colours.jpg);
    padding-top: 150px;
    padding-bottom: 150px;
    background-position: center;
}


.aboutIntroContent h1{
    font-size: 72px;
}

.aboutIntroContent p {
    font-size: 24px;
    font-weight: 600;
}

.aboutContent {
    background-color: #063268;  
    padding-top: 50px;
    padding-bottom: 50px;
}

.aboutContent p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: lighter;
    color: #F7F3E3;
}

.aboutContent li {
    font-family: 'Montserrat', sans-serif;
}
 

.aboutContent p:first-of-type {
    margin: 0;
    padding: 0;
}

.aboutContent h3 {
    color: lightcoral;
    font-size: 24px;
}

.aboutContent li {
    color: #F7F3E3; 
    font-size: 20px;
    line-height: 1.5;
}

.aboutContent a{
    color: lightcoral;
    text-decoration: none;
}

.ivanHead {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-top: 70px;
}

/*  RESUME  */

.resume-intro-background {
    padding-top: 40px;
    padding-bottom: 40px;
}

.resume-intro-background h1 {
    font-size: 50px;
}

.resume-intro-background p {
    font-size: 20px;
}

.resume-intro-wrap {
    max-width: 80%;
    margin: 0 auto;
}

.resume-background {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.resume-content-wrap {
    max-width: 75%;
    margin: 0 auto;
}

.resume-items {
    display: flex;
}

.resume-item-left {
    flex: 4;
}

.resume-item-left > h2 {
    font-size: 1.5em;
    color: lightcoral;
    margin-bottom: 10px;
    letter-spacing: 0;
}

.resume-item-left > p {
    color: #b3b3b3;
    margin: 0;
}

.resume-item-right {
    flex: 1;
    text-align: right;
    letter-spacing: 0.01em;
    font-size: 1.5em;
}

.second-date-entry > p{
    margin-top: 0;
}

.category {
    text-align: left;
    font-size: 35px;
    margin-bottom: 15px;
    margin-top: 40px;
    color:  #b3b3b3;
    letter-spacing: -0.07em;
}

/*FOOTER*/

footer {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer-content-wrap {
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    
}

.footer-content-items {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


.copyright-text {
    color: #F7F3E3;
    font-size: 12px;
    letter-spacing: 1px;
}


.footer-info a{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-info h1 {
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

.footer-logo {
    letter-spacing: 2px;
}

.footer-emoji {
    font-size: 30px;
}

/* Media Queries */

/* Responsive to make resume intro to wrap below the intro-picture */
@media screen and (min-width: 1300px) {
    .resume-intro-wrap {
        max-width: 95%;
        display: flex;
        justify-content: baseline;
    }
    .resume-intro-right {
        padding: 20px;
        letter-spacing: -0.05em;
        flex: 1;
    }
    .resume-intro-left {
        padding: 20px;
        flex: 1;
    } 
}


@media screen and (max-width: 1300px) {
        /* PROJECT PAGE SO THAT TITLE DESCRIPTIONS WRAP AROUND PICTURE */

        .project-title-wrap {
            max-width: 85%;
        }
        
        .project-title-items > img {
            width: 380px;
        }
        
        .project-title-items > h1 {
            font-size: 1.4em
        }

        .project-title-items > p {
            font-size: 1em;
        }
        
        .project-items > h1 {
            font-size: 1.2em;
        }
        
        .project-items > p {
            font-size: 1em;
        }
        
        .project-intro-item > h1 {
            font-size: 2em;
        }
        
        .project-intro-item p {
            font-size: 0.75em;
        }
}

/* Navigation collapse to toggle burger when the screen size < 915px, this is the point when the emojis wrap around the text.*/

@media screen and (max-width: 930px) {
    .toggle-button {
        display: flex;
        margin: 20px 10px;
    }
    
    .navbar-links {
        display: none;
        width: 100%;
    }

    .nav-bar {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: right;
    }

    .navbar-links li a {
        margin: 0.2em 0.5em;
    }

    .navbar-links.active {
        display: flex;
    }

    /* Resume for mobile and iPad */

    .resume-intro-wrap {
        max-width: 90%;
        margin: 0 auto;
    }

    .resume-content-wrap {
        max-width: 90%;
        margin: 0 auto;
    }

    /* Project for < 930 px */

    .project-intro-wrap {
        margin: 0 auto;
        margin-bottom: 2em;
        max-width: 95%;
    }

    .project-intro-item > h1 {
        font-size: 1.5em;
    }
    
    .project-intro-item p {
        font-size: 0.6em;
        margin-bottom
    }

    .project-title-wrap {
        max-width:100%;
    }
    
    .project-title-items > img {
        width: 250px;
    }

    .project-home-wrap {
        display: block;
        max-width: 95%;
    }
    
    .project-title-items > h1 {
        font-size: 1.1em
    }

    .project-title-items > p {
        font-size: 0.8em;
    }

    .project-items > h1 {
        font-size: 1.1rem;
    }
    
    .project-items > p {
        font-size: 0.8em;
    }

    .btn-links {
        padding: 5px 5px;
        font-size: 0.8em;
    }
}

/* compatible with screens < 650 px */

@media screen and (max-width: 650px) {

    body {
    }
    
    .brand-name {
        font-size: 1em;
        letter-spacing: 0.15em;
        margin:2em 1em;
    }
    
    .home-body > p {
        text-align: center;
        letter-spacing: 1em;
        font-weight: 800;
        font-size: 0.8em;
        margin: 50px;
    }

    .home-intro-content h1 {
        color: #F7F3E3;
        font-family: 'Kaushan Script', cursive;   
        font-size: 50px;
    }
    
    .home-intro-content p {
        color: #F7F3E3;
        font-size: 1em;
        letter-spacing: 1;
        margin: 3px;
    }
    
    .home-content-wrap {
        display: block;
        max-width: 90%;
    }

    .home-content-item {
        background-color: #063268;;
        padding: 20px;
        margin: 20px 0;
        border-radius: 20px;
    }
    
    .home-content-item > p {
        font-size: 0.7em;
    }
    
    .home-content-item > h1 {
        font-size: 1em;
    }

    .btn-links {
        padding: 5px 5px;
        font-size: 0.8em;
    }

    .home-text-wrap{
        max-width: 95%;
        display: block;
    }
    
    .home-text-item {
        padding: 20px;
        margin: 10px;
    }

    .home-text-item p {
        font-size: 0.7em;
    }

    .home-text-item h1 {
        font-size: 1em
    }

    /* Footer mobile section */

    .copyright-text {
        font-size: 8px;
        letter-spacing: 1px;
    }

    .footer-content-item h1{
        font-size: 0.8em;
    }

    .footer-info a{
        padding: 2px;
        margin: 0;
        display: inline-block;
    }

    .connect img {
        max-width: 80%;
        height: auto;
    }

    .footer-content-wrap {
        max-width: 100%;
    }


    /* RESUME MOBILE  */

    .resume-intro-background h1 {
        font-size: 1.5em;
    }
    
    .resume-intro-background p {
        font-size: 0.8em;
    }
    
    .resume-intro-wrap {
        max-width: 95%;
        margin: 0 auto;
    }
    
    .resume-background {
        width: 100%;
    }

    .resume-items {
        display: flex;
    }
    
    .resume-item-left {
        flex: 5;
    }
    
    .resume-item-left > h2 {
        font-size: 0.78em;
    }
    
    .resume-item-left > p {
        font-size: 0.73em;
        padding-left: 1em;
    }
    
    .resume-item-right > p {
        flex: 1;
        font-size: 0.5em;
        margin: 10px 0;
    }

    .resume-content-wrap {
        max-width: 95%;
    }

    .resume-content-wrap ul {
        margin: 0.5em;
        padding-left: 0.3em;
    }

    .resume-content-wrap li {
        font-size: 0.7em;
    }
    
    .second-date-entry > p{
        margin-top: 0;
    }

    .category {
        font-size: 1.2em;
        margin-bottom: 0 ;
        margin-top: 0.8em;
    }

    /* Project section MOBILE */

    .project-intro-wrap {
        margin: 0 auto;
        margin-bottom: 2em;
        max-width: 95%;
    }

    .project-intro-item > h1 {
        font-size: 1.5em;
    }
    
    .project-intro-item p {
        font-size: 0.45em;
    }


    .project-title-wrap {
        display: block;
        max-width: 95%;
        padding: 0;
    }
    
    .project-title-items > img {
        width: 250px;
    }
    
    .project-title-items > h1 {
        font-size: 1.1em
    }

    .project-title-items > p {
        font-size: 0.8em;
    }

    .project-items {
        margin: 1em 0em;
        
        max-width: 95%;
    }

    .project-items > h1 {
        font-size: 1em;
    }

    .project-items > p {
        font-size: 0.75em;
    }
}