/*
FONTS

font-family: 'Montserrat', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Merriweather', serif;

COLOURS

#F7F3E3 - sandy white
#303030 - grey
#000000 - black
#202020 - dark grey
lightcoral

/* VARIABLES for DARK MODE (DEFAULT) */

:root { 
    --background-colour: #202020;
    --card-container-colour: #303030;
    --hover-colour: #484848;
    --main-heading-colour: #f08080;
    --main-text-colour: #F7F3E3;
    --paragraph-header-colour: #b3b3b3;
}

/* VARIABLES for LIGHT MODE (TOGGLE) */

/* :root { 
    --background-colour: #FFFFFF;  
    --card-container-colour: #f0f0f0;
    --hover-colour: #e2e2e2;
    --main-heading-colour: #2083df;
    --paragraph-header-colour: #585858;
    --main-text-colour: #212529 ;
} */

/* GLOBAL */

html{ 
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: var(--background-colour);
    color: var(--main-text-colour);
}

p {
    font-weight: 100;
    line-height: 1.5;
}

li {
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: var(--main-text-colour);
}

.underline {
    display: inline-block;
    position: relative;
}

.underline::before {
    content: '';
    position: absolute;
    width: 100%; 
    transform: scaleX(0);
    height: 1.5px; 
    bottom: 0; 
    left: 0; 
    background-color: var(--main-heading-colour);
    transform-origin: bottom right; 
    transition: transform 0.2s ease-out;
}

.underline:hover::before {
    transform: scaleX(1); 
    transform-origin: bottom left;
}

.btn-links {
    margin: 5px 0;
    padding: 8px 8px;
    background-color: var(--background-colour);
    border: none;
    border-radius: 4px;
    text-decoration: none;
}

/* _layouts */

.page-heading h2 {
    font-weight: 100;
}

/* Light-mode */

.theme-setting {
    display: flex;
    align-items: center;
}

brandName {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin: 2rem;
    letter-spacing: 0.2rem;
}

/* NAVIGATION */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
}

.navbar-links {
    display: flex;
    text-decoration: none;
    list-style: none;
}

.nav-bar li a {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0.3125rem 0.625rem;
    margin: 0.6rem;
}

.nav-bar a:hover {
    background-color: var(--hover-colour);
    border-radius: 1rem;
    transition: all 0.3s ease 0s;
}

.toggle-button{
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--main-text-colour);
    border-radius: 10px;
}


.facebook, .instagram, .email, .linkedin {
    height: 1.875rem;
    width: 1.875rem;
}

.content-wrap { 
    max-width: 80%;
    margin: 0 auto;
    display: grid; 
    grid-template-columns: 2fr 1fr;
    grid-gap: 1.2rem;
}

/* HOME */

.photo-credit {
    margin: 1rem 0 3.5rem 0;
    text-align: center;
}

.home-intro-content{
    text-align: center;
}

.home-intro-content h1 {
    font-family: 'Kaushan Script', cursive;   
    font-size: 5rem;
}

.home-intro-content p {
    font-size: 2rem;
    margin: 3px;
    letter-spacing: 1;
}

.highlight-font {
    margin: 0rem 3.13rem 3.13rem 3.13rem;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 1rem;
    font-weight: 800;
}   

.content-highlight {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
}

.content-highlight-item {
    background-color: var(--card-container-colour);
    padding: 1rem;
    border-radius: 1rem;
}

.content-highlight-item:hover {
    background-color: var(--hover-colour);
    transition: all 0.3s ease;
}

.content-highlight-item h1 {
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--main-heading-colour);
}

.content-highlight-item p {
    font-size: 0.85rem;
}

.cover-image {
    max-width: 100%;
    object-fit: cover;
}

.home-side-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
}

.home-side-content-item {
    padding: 1rem;
}

.home-side-content-item li{
    font-size: 1rem;
}

.home-side-content-item ul {
    padding-left: 1rem;
}

.home-side-content-item p {
    margin: 0;
    font-weight: 800;
}

.contact-info, .home-side-content-item {
    background-color: var(--card-container-colour);
    border-radius: 1rem;
}

.contact-info ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    padding: 0;
    justify-content: space-around;
}

.contact-info li {
    display: inline-block;
    padding: 1.5rem;
    font-size: 1.5rem; 
}

.mini-about-me {
    display: block;
}

/* SEARCH BAR */

.search-bar {
    margin: 0 0 4rem 0;
    position: relative;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 2.1rem;
    width: 20rem;
    border-radius: 2.1rem;
    padding: 10px;
    background: var(--card-container-colour);
}

.search-btn {
    margin: 0;
    padding: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 50%;
    transition: 0.4s;
    cursor: pointer;
}

.search-btn > i {
    font-size: 1rem;
}

.search-text {
    font-family: 'Montserrat', sans-serif ;  
    font-size: 1.3rem;
    padding: 0.6px;
    float: left;
    border: none; 
    background: none;
    outline: none; 
    color: hsl(0, 0%, 100%), 0%, 100%;
    transition: 0.1s;
    line-height: 2rem; 
}

.search-bar:hover > .search-btn {
    background-color: var(--main-heading-colour);
}

/* Blog title page  */

.blog-intro-wrap {
    max-width: 100%
}

.blog-intro-pic {
    width: 100%;
    margin-top: 2rem;

}

.blog-intro-item > p {
    line-height: 1.2;
}

.blog-home-wrap {
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.blog-items-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1rem;
}

.blog-cover-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.blog-items {
    padding: 0.7rem;
    margin: 0.7rem;
    background-color: var(--card-container-colour);
    border-radius: 1rem;
    transition: all 0.2s ease;
}

figure.blog-items:hover {
    background-color: var(--hover-colour);
}

.blog-items h1 {
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--main-heading-colour);
}

/* Blog content pages */

.blog-items {
    font-size: 0.9rem;
}

.blog-content-wrap {
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 0.5rem;
}

.blog-content h1 {
    font-size: 2.5rem;
    margin: 0.7rem 0px;
    color: var(--main-heading-colour);
}

.blog-content h2 {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.blog-content h3 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 2rem;
    letter-spacing: 0;
    color: var(--paragraph-header-colour);
}

.blog-content p, .blog-content li {
    font-size: 1.2rem;
    line-height: 2.3;
    font-weight: 100;
}

.blog-content > img {
    max-width: 100%;
}

/* Project */

/* Project Intro Page */

.project-intro-wrap {
    max-width: 85%;
    margin: 0 auto;
}

.project-intro-item > h1 {
    font-size: 2.5rem;
}

.project-intro-item p {
    font-size: 1rem;
}

.project-intro-pic {
    width: 100%;
}

.project-home-wrap {
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.project-items-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.project-items {
    padding: 1rem;
    margin: 1rem;
    background-color: #303030;
    border-radius: 1rem;
}

.project-items h1 {
    font-size: 1.5rem;
    margin-top: 0;
    color: var(--main-heading-colour);
}

.project-items p {
    font-size: 1rem;
}

/* Project Content  */

.project-content-wrap {
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.project-content p, .project-content li {
    font-size: 1rem;
    line-height: 1.8;
}

.project-content h1{
    color: var(--main-heading-colour);
    font-size: 2.5em;
    margin-bottom: 0;
    letter-spacing: 0;
}

.project-content h2 {
    font-size: 1.2em;
    margin-bottom: 1rem;
    color: var(--main-heading-colour);
    letter-spacing: 0;
}

.project-content h3:first-of-type, .project-content h3:last-of-type{
    font-size: 1.5rem;
    text-align: center;
}

.project-content h3 {
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
    color: var(--paragraph-header-colour);
    letter-spacing: 0;
}

.project-content .chemistry-reaction {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 1.2rem; 
}

.physLab1F1 {
    max-width: 50%;
    max-height: auto;
}

.pathology-images {
    max-height: 100%;
    max-width: 100%;
}

table {
    color: var(--main-text-colour);
}

th, td {
    font-size: 1rem;
    padding: 0.2rem;
    text-align-last: left;
}

/* about */

.about-content-pic {
    display: block;
    max-width: 100%;
}

.about-content-item > h2:first-of-type {
    color: var(--paragraph-header-colour);
    font-weight: 100;
}

.about-content-item {
    margin-top: 2rem;
}

.about-content-item li{
    font-size: 1.2rem;
}

.about-side-item {
    background-color: var(--card-container-colour);
    margin: 0 0 1rem 0;
    padding: 1.25rem;
    border-radius: 1.25rem;
}

.about-side-item h1 {
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
    letter-spacing: -0.03rem;
    color: var(--main-heading-colour)
}

.ivanHead {
    display: block;
    margin: auto;
    margin-top: 70px;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}

/*  RESUME  */

/* new stuff */

    /* Resume section styles*/

.resume-content-item h1 {
    margin-bottom: 0;
    color: var(--main-heading-colour);
    font-size: 1.3rem;
}

.resume-main-content h2 {
    margin: 0.5rem 0;
    font-size: 1.1rem;
    letter-spacing: 0rem;
    color: var(--paragraph-header-colour);
}

.resume-main-content h3 {
    margin: 0.5rem 0;
    font-size: 1rem;
    font-style: italic;
    font-weight: 100;
    letter-spacing: 0;
}

    /* name and summary section */

.resume-title-item > h1 {
    font-size: 2.5rem;
    color: var(--main-heading-colour);
    margin: 0;
}

.resume-title {
    font-style: italic;
    letter-spacing: 0.1rem;
}

.resume-title-container {
    display: grid; 
    grid-template-columns: 3fr 1fr;
}

.resume-title-pic {
    float: right;
    margin-right: 2rem;
    width: 7rem;
    border-radius: 50%;
}

/* Read More Section */

.read-more-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}

.read-more-items {
    background-color: var(--card-container-colour);
    border-radius: 20px;
    padding: 1rem;
}

.read-more-items > h1 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: var(--main-heading-colour);
}

.read-more-items > p{
    font-size: 1rem;
    line-height: 1.5;
}

/*FOOTER*/

footer {
    background-color: var(--card-container-colour);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6rem;
    padding: 4rem 6rem;
}

#logo-copyright {
    display: flex; 
    flex-direction: column;
}

footer h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    margin: 1rem 0;
    text-align: left;
    letter-spacing: 0.2rem;
}

#logo-copyright small {
    padding: 0.1rem 0;
}

#connect {
    display: flex;
}

.connect-icons, .fa-github {
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
    padding-left: 1rem;
}

/* Media Queries */

@media screen and (max-width: 1300px) {
        /* PROJECT PAGE SO THAT TITLE DESCRIPTIONS WRAP AROUND PICTURE */

        html {
            font-size: 14px;
        }
        
        .project-items > p {
            font-size: 1em;
        }
        
        .project-intro-item > h1 {
            font-size: 2em;
        }
        
        .project-intro-item p {
            font-size: 0.75em;
        } */

        .project-content-wrap {
            max-width: 80%;
        }
        
        /* Blog page < 1300 */
        
        .btn-links {
            padding: 5px 5px;
            font-size: 0.8em;
        }

        /* Blog posts to fit to < 1300 px */

        .blog-content-wrap {
            max-width: 80%;
        }

        /* Read More */
        .read-more-wrap {
            display: block;
        }
        
        .read-more-items {
            margin: 1em 0;
        }
}

/* Navigation collapse to toggle burger when the screen size < 915px, this is the point when the emojis wrap around the text.*/

@media screen and (max-width: 930px) {

    html {
        font-size: 12px;
    }

    .toggle-button {
        display: flex;
        margin: 20px 10px;
    }
    
    .navbar-links {
        display: none;
        width: 100%;
    }

    .nav-bar {
        margin: 0;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links {
        flex-direction: column;
        text-align: right;
    }

    .navbar-links li a {
        margin: 0.2rem 0.5rem;
    }

    .navbar-links.active {
        display: flex;
    }


    /* About page for mobile and iPad < 930 px */

    .content-wrap {
        max-width: 90%;
    }

    /* Project for < 930 px */

    .project-intro-wrap {
        margin: 0 auto;
        margin-bottom: 2em;
        max-width: 95%;
    }

    .project-home-wrap {
        display: block;
        max-width: 95%;
    }

    .project-items > h1 {
        font-size: 1.1rem;
    }
    
    .project-items > p {
        font-size: 0.8em;
    } 

    .btn-links {
        font-size: 1rem;
        padding: 5px 5px;
    }

    .project-content-wrap {
        max-width: 85%;
    }

    .project-content h3:first-of-type, .project-content h3:last-of-type{
        font-size: 1.5rem;
    }

    /* Blog pages < 930 px */

    .blog-intro-wrap {
        max-width: 95%;
    }

    .blog-home-wrap {
        max-width: 95%;
    }

    .blog-items {
        padding: 10px
    }

    /* Blog posts < 930 px */

    .blog-content-wrap {
        max-width: 80%;
    }

    /* Footer */

    footer {
        padding: 3rem 1rem;
    }

    /* Read More */

    .read-more-wrap {
        display: block;
    }
}

/* compatible with screens < 650 px */

@media screen and (max-width: 650px) {
    
    html {
        font-size: 14px;
    }

    brandName {
        font-size: 1.2rem;
        letter-spacing: 0.15rem;
        margin:1.5rem 1rem;
    }

    .toggle-button {
        margin: 1rem 0;
    }
    
    .toggle-button .bar {
        height: 2px;
        width: 100%;
        background-color: var(--main-text-colour);
        border-radius: 10px;
    }
    
    .highlight-font {
        font-size: 1rem;
        margin: 50px;
    }

    .home-intro-content h1 {
        font-size: 4rem;
    }
    
    .home-intro-content p {
        font-size: 1.5rem;
    }

    .content-highlight-item {
        padding: 1rem;
        margin: 10px 0;
    }
    
    .content-highlight-item > p {
        font-size: 1rem;
    }
    
    .content-highlight-item > h1 {
        font-size: 1.1rem;
    }

    .mini-about-me {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }

    .mini-about-me {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }

    .home-side-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }

    .btn-links {
        padding: 5px 5px;
        font-size: 0.8em;
    }

    /* About < 650 px */

    .content-wrap {
        display: block;
    }

    .mobile-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }

    /* Footer mobile section */

    footer {
        margin: 3rem 0 0 0; 
        padding: 1rem 0;
    }

    footer, #logo-copyright h1{
        display: block;
        text-align: center;
    }

    #logo-copyright h1 {
        font-size: 1.4rem;
    }

    .footer-connect {
        display: none;
    }

    #connect {
        justify-content: center;
    }

    .connect-icons, .fa-github {
        padding: 1rem 0.5rem;
    }

    /* Project section MOBILE */

    .project-intro-wrap {
        margin: 0 auto;
        margin-bottom: 2em;
        max-width: 95%;
    }

    .project-items-wrap {
        display: block;
    }
    

    .project-intro-item > h1 {
        font-size: 1.5em;
    }
    
    .project-intro-item p {
        font-size: 0.5em;
    }

    .project-items {
        margin: 1rem 0em;
        max-width: 95%;
    }

    .project-items > h1 {
        font-size: 1em;
    }

    .project-items > p {
        font-size: 0.9em;
    }
    
    .project-content-wrap {
        max-width: 90%;
        margin: 0 auto;
    }

    .project-content ol, .project-content ul {
        padding-left: 1em;
    }

    .project-content li, .project-content p {
        font-size: 1em;
    }

    .project-content h1{
        font-size: 2.3em;
    }
    
    .project-content h2 {
        font-size: 1em;
    }

    .project-content h3 {
        font-size: 1.3em
    }

    .project-content h3:first-of-type, .project-content h3:last-of-type{
        font-size: 1.5em;
    }

    th, td {
        font-size: 0.8em;
        padding: 0.1em;
        text-align-last: left;
    }

    /* blog for mobile devices  */

    .blog-intro-wrap {
        max-width: 100%;
    }

    .blog-intro-item {
        max-width: 95%;
        margin: 0 auto;
    }

    .blog-intro-item > p {
        font-size: 0.5rem;;
    }

    .blog-items-wrap {
        display: block;
    }


    .blog-home-wrap {
        max-width: 95%;
        margin: 0 auto;
        display: block;
    }

    .blog-items {
        padding: 10px
    }

    .blog-content-wrap {
        max-width: 90%;
    }
    
    .blog-content h1 {
        font-size: 1.8em;
    }
    
    .blog-content h3 {
        margin-top: 1.8rem
    }

    /* Music page < 650 px */

    .music-intro-wrap { 
        max-width: 100%; 
    }
    
    .music-intro-pic {
        display: block;
        max-width: 95%;
        margin: 0 auto;
    }

    .music-intro-item > p {
        font-size: 0.8em;
    }

    /* Read More Mobile */
    .read-more-wrap {
        display: block;
    }
    
    .read-more-items {
        padding: 0.8rem;
    }
    
    .read-more-items > h1 {
        font-size: 1.2rem;
    }

}


@media screen and (max-width: 450px) {

    /* to make sure that for even smaller devices like iPhone 5S that the featured posts section would be converted to block for easily readibility. */

    .mobile-grid {
        display: block; 
    }
}