<!-- SIDE SUMMARY -->
<img id="anime-head" src="{{site.baseurl}}/images/anime-head.png">
<div id="side-summary-social">
    <h3>Ivan Chan</h3>
    <em>"Conquering the world one chest x-ray at a time"</em>
    <p>A student radiologic technologist 👨‍⚕️ who is passionate about medical imaging and an aspiring web developer 👨‍💻. Loves music and languages.</p>
    <li><i class="fas fa-map-marker-alt side-summary-icon"></i> &nbsp; Toronto, Canada</li>
    <li><a href="https://www.messenger.com/" target="_blank"><i class="fab fa-facebook-messenger side-summary-icon"></i> &nbsp; ivanchan.messenger</a></li>
    <li><a href="https://www.facebook.com/dontcallmeevan" target="_blank"><i class="fab fa-facebook side-summary-icon"></i> &nbsp; Ivan Chan </i></a></li>
    <li><a href="https://www.instagram.com/i.vanchan/" target="_blank"><i class="fab fa-instagram side-summary-icon"></i> &nbsp; @i.vanchan</a></li>
    <li><a href="https://www.linkedin.com/in/ivan-chan-063b43144/" target="_blank"><i class="fab fa-linkedin side-summary-icon"></i> &nbsp; Ivan's Linkedin</a></li>
</div>


<!-- BLOG REVIEW READ MORE -->
<h2>Read More</h2>
{% for blog in site.categories.blog %}

<figure class="blog-items">
    <a href="{{ blog.url | absolute_url }}">
        <h1>{{ blog.title }}</h1>
        <p>📅 {{blog.date | date:"%B %-d %Y" }}  | 📍 {{blog.location}}</p>
    </a>
</figure>
{% endfor %}
<!-- BOOK REVIEW READ MORE -->
{% for review in site.categories.review %}
<figure class="blog-items">
    <a href="{{ review.url | absolute_url }}">
        <h1>{{ review.title }}</h1>
        <p>📅 {{review.date | date:"%B %-d %Y" }}  | 📍 {{review.location}}</p>
    </a>
</figure>
{% endfor %}