<header> 
<nav class="nav-bar">
    <div class="brand-name">&lt;/ivanChan&gt;</div>
    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links">
        <ul>
            <li><a href="index.htm" class="home">Home &#127968;</a></li>
            <li><a href="contents/about.htm">Aboue Me &#128102;</a></li>
            <li><a href="contents/blog.htm">Blogs &#128540</a></li>
            <li><a href="contents/projects.htm">Projects &#128221;</a></li>
            <li><a href="contents/resume.htm">Resume &#128188;</a></li>
        </ul>
    </div>
</nav>
</header>