<h2>Keep in Contact!</h2>
<div class="contact-info">
    <ul> 
        <li><a href="https://www.messenger.com/" target="_blank"><i class="fab fa-facebook-messenger"></i></a></li>
        <li><a href="https://www.facebook.com/dontcallmeevan" target="_blank"><i class="fab fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/i.vanchan/" target="_blank"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.linkedin.com/in/ivan-chan-063b43144/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="mailto: chank52@mcmaster.ca" target="_blank"><i class="fas fa-envelope"></i></a></li>
    </ul>
</div>