---
title: Second Year Reflection
layout: posts
author: Ivan Chan
category: blog
location: Toronto, ON
permalink: /:title/:year/:month/:day.html
cover: /images/covers/2nd-year-cover2.jpg
excerpt: I’ve always thought of my first year as a “honeymoon” or en français <i>“la lune de miel”</i> phase of university. This is especially true when I am reflecting back as a fourth year student. Although I had a tough time adjusting myself to the 
---

<div class="blog-content">
    <h1>{{page.title}}</h1>
    <h2>🖋️ {{page.author}}  | 📅 {{page.date | date:"%B %-d %Y" }}  | 📍 {{page.location}} </h2>

    <img src="{{site.baseurl}}/images/post-banners/2nd-year-life-intro-pic.jpg">

    <h3>“The Fall”</h3>

    <p>I’ve always thought of my first year as a “honeymoon” or en français <i>“la lune de miel”</i> phase of university. This is especially true when I am reflecting back as a fourth year student. Although I had a tough time adjusting myself to the university workload, I was not vulnerable mentally and this caused me to underestimate the heaviness of life in university.</p> 

    <p>It was a fun time. I had great social, academic support, and I thrived. I thought I was living the best life. </p>

    <p>But then, something happened in second year. I couldn’t pinpoint the exact thing, but I think it was a series of vague realizations that caused a deterioration in optimism and mental health as second year commences, and I can confidently say that many of my peers began to experience a downfall as the reality of university life sank in.</p>

    <p>To this day, I still think that the transition from first year to second year is heavier than the transition from high school to first year, and it is a topic that not many people touch on. </p>

    <h3>Changes in Mentality</h3>

    <p>Of course, I speak of my own experience. But I’ve noticed a shift in mentality in myself and my peers as we enter second year. My social battery was on overdrive in first year because it was the prime time to “make new friends”, “join new clubs”, and “try new things”. First year was the time when I wanted to expand my social circle to as big as possible and tried to be liked by everyone. </p>

    <h3>Cliche Advice: “Just be Yourself”</h3>

    <p>I realized that people are inherently different. Not the small differences between an orange and a clementine, but more like comparing an apple to a durian. I was surrounded by people similar to me in high school, as a result, conflicts between my high school peers and I were easily resolved because our values were similar.</p>

    <p>Fast forward to second year, I noticed that my conquest to become liked by everyone began to crumble. When I realized I am not liked by everyone, the feeling of failure and loneliness started to battle my mental well-being. I would appear to be very happy on the outside but broken inside. </p>

    <p>I spent a great deal of time in second year trying to live up to other people’s standards. I am an introvert, but I would party and drink like there was no tomorrow to grab people’s attention. It felt great for a short time. It felt like I was accomplishing something. However, as time went on and the reality of life squeezed in, my emotions fell apart like jello. </p>

    <p>It took me at least two years for the cliche advice of “just be yourself” to be drilled inside my brain. I realized that people accept me a lot more for being myself than trying to live for someone else. </p> 

    <h3>I Am Not The Centre of The Universe</h3>

    <p>Psychology calls it “self-serving bias”, “spotlight effect”, or the “fundamental attribution error”. I don’t major in psychology but I have took a introductory psychology course in first year. To put it simply, it is our inherent bias that we tend to overestimate our importance in this world. And I have done exactly that in my second year.</p>

    <p>When I took an emotional downturn in second year from trying to live up to other people’s standards, I started to expect others to reach out to me or to care for me because well… I am sad and why aren’t the people I spent time knowing back in first year not caring about me?</p>

    <p>Now I want to make this clear - my friends are nice. My point is that it was my fault at <b>expecting</b> others to pour their attention onto me, while I was ignorant about my friends having their own issues to deal with.</p>

    <p>Not knowing that I have fallen into the spotlight effect and continue to seek validation, I became rude, arrogant, ignorant, and entitled. I became less thankful, less grateful, and judgemental. All of which tore apart my social circle slowly throughout second year as I fought with loneliness and guilt.</p>

    <p>In third year, I had an amazing talk with my housemate about my issues. He brought up a point - <b>“It is a two way process, you can’t expect other people to give into you if you haven’t reached out to them in the first place”.</b> His worlds lit a bulb in my head.</p>

    <p><i>Why hadn’t I thought of that from the very beginning?</i></p>

    <p>It took me a long time to notice this - I am not the centre of the universe. Yes, it doesn’t feel great sometimes that the people I pour in is not reciprocating back to me, but I believe the action of just <i>reaching out</i> will definitely come a long, long way.</p>

    <h3>Express Less s More</h3>

    <p>Despite being an introvert myself, I was an overactive person. I don’t necessarily yell or show aggression to people, but I had the tendency to express my opinions or mind other people’s business more than usual. </p>

    <p>I think it may have evolved from my affinity for attention at the beginning of my second year, like somehow I felt being overactive would somehow make me more popular. </p>

    <p>There had been some instances when my overactive personality backfired on me, and caused damage to my reputation. To this day I still regret certain unnecessary expressions or opinions I made that had caused people to distrust me.</p>

    <p>The mistakes I made were first, I talked too much, and second, I cared too much about other people’s business. I directed my attention externally rather than internally, this was a horrible mistake because as I focused on other people’s life, I was completely unaware of the downfall of my mental state. </p>

    <p>Why did I spend so much attention on things I cannot control (other people’s lives), but neglected on things I can control (myself)?</p>

    <p>I am beginning to notice that by talking less, I am able to divert my attention internally, which unexpectedly gives me more time to self-reflect, self-evaluate, and pinpoint issues of myself - things I can control. Hence, talk less is <b>more</b> because I can reroute my energy and attention to self-growth, self-actualization, self-awareness, and maturity.</p> 
</div>
<div>
    {% include blog-read-more.html %}
    {% include hz-social-bar.html %}
</div>