---
title: Never Assume
layout: posts
author: Ivan Chan
category: blog
location: Guelph, ON
permalink: /:title/:year/:month/:day.html
cover: /images/covers/never-assume-cover.jpg
excerpt: The accumulating nature of time is almost magical in changing a person, either for better or worse. One day alone may only transform a person negligeably. But if we accumulate these small daily transformations long enough, the power of time can really change a person's perspective on life.
---

<div class="blog-content">
    {% include page-heading.html %}
    <img src="{{site.baseurl}}/images/post-banners/never-assume-banner.jpg">

    <h3>Power of Time</h3>

    <p>The accumulating nature of time is almost magical in changing a person, either for better or worse. One day alone may only transform a person negligeably. But if we accumulate these small daily transformations long enough, the power of time can really change a person's perspective on life. </p>

    <p>I think many people, especially when we finishing undergrad, can confidently say that we are not the same person as we were when we first started college or university.</p>

    <p>A general trend I've noticed is that as we grow older and accumulate more experiences in their lives, we tend to become more reserved, rational, quiet, and calm. I am sure we all know of someone obnoxious and annoying from high school who become more quiet and rational when they approach the end of undergrad. And in this blog I really want to talk about how we ought to respond to other people's changes as we straddle through life.</p>

    <h3>Never Assume</h3>

    <p>To be honest, I think most of us are trying our best in our 20s to build our character. </p>

    <p>I once saw a tweet appeared on Instagram and it read <i>if you knew me before my 20s, you never actually knew me. You knew season 1 me.</i> As comedic as it sounds, I believe this tweet defintely stroke a chord in many people's hearts. </p>

    <img src="{{site.baseurl}}/images/never-assume-tweet.png">

    <p>Think about this question: </p>
    
    <p><em>Has someone falsely assumed and mislabelled you negatively right now just because they are stuck in their perception of you a few years ago?</em></p>

    <p>If your answer is <b>yes</b>, I just want to say that you are not alone. I think many of our misunderstandings with people whom we have not reconvened for a long time can often trace back to our falsely assumptions that people do not change. And we falsely jump to the conconclusion that they still remain in the same level of maturity. </p>

    <p>I have been the one falsely assuming people that they haven't changed to be a better person after seeing them again from a few years of separation, and I have also been falsely assumed to be the same person as how I presented myself a few years ago - as a braggy, selfish, and ignorant snob that people detested. </p>

    <p>But certainly, we can all agree that if you are a recent graduate from college or university, you can confidently say that you are not the same person as you were back when you started undergrad. And I hope you have became a better person, not worse. </p>

    <p>So now I want to bring up the concern: <b>"Is it fair to someone if we jump to the conclusion that the person whom we thought was immature and obnoxious when they were younger would still be the same person today?"</b> I do not think so.</p>

    <p>One might argue that <i>"Well, because they were annoying and they did something bad to me a few years ago in high school, it is fair to hate on them and assume that they haven't changed at all."</i></p>

    <p>But I beg to differ. Having prejudice to a person and assuming that the person you haven't met in a long time still has all the negative traits in him or her after a few years of undergrad comes from a sense of being prideful. And this kind of outdated assumption can potentially be toxic and prevent you from reconnecting with your old friends. </p>

    <p>Just imagine someone still holding a grudge towards you because of who you were a few years ago. I think you instinctively wouldn't want to associate with a person who assumes the worst coming from you because of a previous minor conflict. </p>

    <h3>Accept Changes in Yourself and Others Humbly</h3>

    <p>In the book <i>How to Win Friends and Influence People in the Digital Age</i>, the author states that:</p>

    <p><b>"by taking time to research other people's current circumstances you will avoid making assumptions about them"</b></p>

    <p>This quote can't be more true if we want to be more mature in our 20s. And to alter the quote a bit to fit the argument I want to bring up in this blog, we can suggest that <b>if we take time to understand other people's current circumstances, we would prevent ourselves by projecting our outdated assumptions on them."</b></p>

    <p>Now I think that is a very humble way of looking at people around us. Instead of <em>"you deserve to be treated badly in a certain way because I still see you the same way I did a few years ago"</em>, we can express our friendliness by saying <em>"how has this person changed for the better in this period of time?"</em> Notice how the former is <b>condescending</b>, while the latter displays <b>humbleness.</b></p>

    <p>Always realize and see how other people's experiences have shaped them to become a better person.</p>

    <h3>Assumptions and Judgements Always Hurt Yourself More </h3>

    <p>When I was younger, I loved making assumptions on people because I thought it was somehow a mature trait. I would even hold the belief that my assumptions of others were justified as long as I see myself as <em>more</em> mature than them. Obviously through my arrogance youth, I learned things the hard way. </p>

    <p>I was prideful when making assumptions on others. My malevolent intent to look down and to hurt people ultimately boomeranged back to myself because my self-inflated ego caused my heart to harden.</p>

    <p>When other people and even my close friends began to criticize me, I still wouldn't listen and again I <em>falsely</em> assumed my dear friends to be arrogant. This has caused several people to walk away from me and eventually created a period of bad mental health to myself.</p>

    <h3>Always Ask Questions</h3>

    <p>To counter our negative assumptions on others, we should keep asking questions. If you want to reconcile or reconnect with a particular person whom you have disconnected with for a long period of time, I suggest to ask these questions: </p>

    <p><em>"How has this period of time shaped him or her to a better person?"</em></p>
    <p><em>"What are some wisdom that he or she has learned over the past period of time?" </em></p>
    <p><em>"What are some positive traits about this person that I am not aware of?"</em></p>
    <p><em>"What can I be doing to make him or her feel warmth even after a long time of disconnection?"</em></p>

    <p>I think when we start asking questions that allows us to know the other person better, we would begin to notice that at the end we are all very similar people but our subjective biases would always inflate our differences and disagreements. </p>

    <p>If you conclude that the person hasn't changed or even has become worse after you spend the time to reconnect with him or her, then so be it. You will then use your discretion and your wisdom to discern if this person is still someone you want to be acquainted. If not, leave the person as it is and do so quietly. Do not complain or talk against his or her back, as doing so would only compromise your integrity. </p>

</div>
<div>
    {% include blog-read-more.html %}
    {% include hz-social-bar.html %}
</div>
