---
title: My Four Months off School 
layout: posts
author: Ivan Chan
category: blog
location: Guelph, ON
permalink: /:title/:year/:month/:day.html
cover: /images/covers/four-months-off-school-cover.jpg
excerpt: In June of 2020, while I was swamped with assignments and projects at the midst of my summer school term, I received an email from my program's professor
---
<div class="blog-content">

    {% include page-heading.html %}
    <img src="{{site.baseurl}}/images/post-banners/four-months-off-school-banner.jpg">


    <h3>COVID COVID COVID</h3>

    <p>In June of 2020, while I was swamped with assignments and projects at the midst of my summer school term, I received an email from my program's professor: </p>

    <p><b><i>"We are giving students the option to delay clinical placement by four months from September 2020 to January 2021 because of COVID-19"</i></b></p>


    <p>When I skimmed through the email at first, I was little bit surprised. I always thought I had to begin clinical placement in September 2020 just like everyone else and I never really expected the school to give us an option to delay clinical placement. </p>

    <h3>Reasons Why I Delayed</h3>

    <p>The idea of delaying my clinical and graduate later than my peers was inconceivable to me from the start of my academic career. You see, I've always been a very goal oriented and fast-paced person and that I always wanted to finish my studies on time without any hesitation. But, I reread the email again and pondered the question that night: "What would be the reasons for me to delay school?", and I came up with three reasons.</p>

    <ol> 
        <li><b>Burned out from school:</b> I've been working and studying for the past two years consistently without breaks. When I took a good look at myself in the mirror, I saw myself drained and lifeless. It seemed like my soul was about to leave my body because I was so consumed with academics and work. I had to remind myself that I've been rough on my body. Quite frankly, I was stressed and I desperately needed a real break for myself. </li>
        <li><b>Lack of personal growth:</b> Because of my goal-oriented and fast-paced mindset, I often fall into the trap of selective attention. I had been so focused on my goal of graduation on time that I seldomly paid attention to my own personal growth. I rarely reflected and I felt that I had blinded myself to confront my own weaknesses, flaws, and insecurities.</li>
        <li><b>Advancing my hobbies:</b> As mentioned in my previous point, I was too focused on my academic goals that I hardly had any time to explore new skills and advance in my personal interests. I figured out that I could have the potential to excel in my hobbies </li>
    </ol>

    <h3>Time for a Break Away from School</h3>

    <p>I realized that it is time to take a break to discover myself and to allow my instincts crave what I am truly passionate about, rather be told what to do by the school. When I embraced this philosophy of slowing down and taking things at my own pace, I started to think differently.</p>

    <p>I think one of the most delustive doctrine that many students unknowingly follow is the idea that we <i>have to</i> finish our academic endeavours within a constrained amount of time. For example, I was told to finish my university program in four years because it was written in some university handbook in 2017. We were all told to graduate as soon as possible and get a stable job, and we have entrusted this belief to be some sort of magical recipe to a "successful life"</p>

    <p>But life is more than just aiming to complete our studies "on time", or in some extreme cases, I've seen people who would "fast track" their studies for an earlier graduation. Now, whenever I am approached by someone who blatantly brags about their "fast track" graduation plans, I begin to feel a sense of absurdity because there is absolutely no rush to finish our studies when compared to the grand scheme of life. </p>

    <p>Some of my friends I know who are working or studying constantly without taking breaks are taking a toll on their personal mental health. I think working hard isn't the issue, the problem is that we often <i>become</i> "workaholics" and prevent ourselves from taking neccessary breaks.</p>

    <p>I mean, would I have delayed school if COVID-19 didn't occur? Probably not. But I am really grateful that I was able to use the extraordinary situation of COVID-19 to change my perspective on the notion of "graduating on time" and not be afraid to take breaks for our own personal development.</p>

    <h3>Ironically, The Most Productive Four Months Ever</h3>

    <p>I thought that these four months in the abscence of formal academic work would be unproductive because I wouldn't have someone else of authority like a professor or a supervisor to keep me on track. Initially I was indeed unproductive because I found myself  sleeping in and bingeing on TV shows. But after a week or two of slacking off / being a waste finally kickstarted myself to just do something meaningful. So I asked myself <i>seriously</i>: </p>

    <b>"What is a meaningful and a productive task I can do now?"</b>

    <p>After I asked myself that question, I relaxed and slowly allowed my instincts to guide me towards a task that I've always wanted to finish but was unable to complete because of school. So I went on to LinkedIn Learning on my computer, searched up <i>"JavaScript Essential Training"</i> by <i>Morten Rand-Hendriksen</i>, and began the lessons. <i>"WOW"</i>, I said to myself, "I finally is able to do what I am passionate about".</p>

    <p>Okay I got to admit that my JavaScript knowledge is still very novel. But I realized that once I allowed my passion to take over, the productivity automatically follows. And I think this increase in productivity somehow drenches my blood with dopamine that I sought further tasks and goals. I then signed up for Government French classes to finally pick up learning the language again after only taking French in Grade 8. </p>

    <p>Though I need to be honest, there were times I procrastinated even if I was passionate about something. Sometimes I wondered if I slacked off way too much too in these four months. But I constantly reminded myself that I shouldn't be too hard on myself because technically I am on a little break away from school. Out of habit I gradually allocated a time within a week (usually on weekends) to deflate and do nothing, <i>literally nothing</i>. If it means for me to just scroll on Instagram or browse memes for two hours, I would permit myself to do it because I needed time off. </p>

    <p>The most significant change for me in these four months was my own personal growth. As I mentioned before, my indifference towards my own personal growth when I was in school on campus was largely caused by the busyness of school and little bit of my ignorance. When I had my four months off, I gradually developped a habit of talking walks outside. And in these times of solitude I reflected deeply and pondered on my shortcomings and my weaknesses. </p>

    <p>Gradually, I noticed I became more self-aware at myself. Instead of paying attention to other people's businesses, I started to divert my attention internally. My eyes, which were once blinded to my own flaws because of my arrogance, began to notice my weaknesses. My soul soon followed the lead of my eyes to began working on changes to improve myself.</p>

    <p>I also picked up several habits that aided my transformation in these four months. I began to read more and surprisingly, reading has this magical ability to make me reflect and ponder on my world views. I also started journalling. Journalling...</p>
</div>
<div>
    {% include blog-read-more.html %}
    {% include hz-social-bar.html %}
</div>