---
title: Renal Calculi
layout: posts
author: Ivan Chan
category: pathology
location: Guelph, ON
permalink: /:title/:year/:month/:day.html
excerpt: Urolithiasis, urinary calculi, or renal calculi, are all interchangeable terms that referes to the presence of stones anywhere along the course of the urinary system. Kidney stones are found most commonly in individuals between the ages of 30 to 60.
---

<div class="project-content">
    {% include page-heading.html %}
    {% include health-disclaimer.html %}
    <h3>Introduction</h3>

    <p><em>Urolithiasis</em>, <em>urinary calculi</em>, or <em>renal calculi</em>, are all interchangeable terms that referes to the presence of stones anywhere along the course of the urinary system (Jones, n.d). </p>

    <p>Kidney stones are found most commonly in individuals between the ages of 30 to 60. It is estimated that 5% of women and 12% of men will develop kidney stones in their life time (Young VB, Kormos WA, Chick DA et-al. Blueprints Medicine). </p>
    
    <p>Renal calculi are most commonly composed of calcium salts. Examples of stone composition are:
        <ul>
            <li>Calcium oxalate: the most common form of kidney stones</li>
            <li>Calcium phosphate</li>
            <li>Uric acid</li>
            <li>Cystine</li>
            <li>Struvite</li>
        </ul>
    </p>

    <h3>Etiology</h3>

    <p>Causes of renal calculi can be divided into three categories: 

        <ol> 
            <li>Metabolic (Eisenberg & Johnson, 2015)
            <ul>
                <li><b>Hyperparathyroidism</b></li>
                <p>Disorders in the parathyroid glands, which are the four glands located at the posterior portion of the neck which regulates calcium levels in the blood, can cause hypercalcaemia.</p>
                <li><b>Increased calcium intake</b></li>
                <p>Increasing calcium intake in diet can cause hypercalcaemia, which would predispose the individual to develop calcium salt stones in the kidney.</p>
            </ul>
            </li>
            <li>Genetic
            <ul>
                <li><b>Familial hypomagnesaemia with hypercalciuria and nephrocalcinosis</b></li>
                <p>A rare genetic disorder of low blood magnesium with high calcium in urine calcium in kidney can predispose infans and children to form kidney stones.</p>
                <li><b>Adenine phosphoribosyltransferase deficiency</b></li>
                <p>According to the research by Edvardsson et al (2013), the deficiency of this adenine phosphoribosyltransferase has been linked to the formation of kidney stones. However, the pathway and mechanism of how the deficiency of this enzyme causes renal calculi is beyond the scope of this case review. </p>
            </ul>
            </li>
            <li>Other
            <ul>
                <li><b>Urinary Stasis</b></li>
                <p>Urinary stasis from immobility can lead to chemical changes in urine, leading to kidney stones formation (Eisenberg & Johnson, 2015).</p>
                <li><b>Urinary Tract Infection</b></li>
                <p>UTI can cause struvite stones because of an enzyme that is released by certain types of bacteria. Women are more likely to develop struvite stones because they have a higher chance of developing UTIs (Sepsis Alliance, 2020). </p>
                <li><b>Diet</b></li>
                <p>High intake of lithogenic substances such as oxalic acid, uric acid, and calcium can increase the concentration of these chemicals in blood and urine, predisposing the individual to form kidney stones. </p>
            </ul>
        </ol>
    </p>

    <h3>Chemistry</h3>

    <p>Although the chemistry of kidney stones formation maybe beyond the knowledge of imaging professionals, it is important to understand the basic chemical processes of renal calculi in order to appreciate their image appearances (Chibba, 2020).</p>

    <p>Let's consider the chemical equilirbium of calcium oxalate:</p>

    <p class="chemistry-reaction">CaC<sub>2</sub>O<sub>4</sub>(<i>s</i>) &nbsp;&nbsp; ⇌ &nbsp;&nbsp; Ca<sup>2+</sup>(<i>aq</i>)&nbsp;&nbsp; + &nbsp;&nbsp;C<sub>2</sub>O<sub>4</sub><sup>2−</sup>(<i>aq</i>)&nbsp;&nbsp | &nbsp;&nbsp<i>K<sub>sp</sub></i>&nbsp = &nbsp 2.7 × 10<sup>−9</sup></p>

    <p>The <em>solubility product constant</em> <i>K<sub>sp</sub></i> describes the solubility of a substance in water and it ranges from 0 onwards. The larger the <i>K<sub>sp</sub></i>, the more solubale the substance is. Conversely, the closer the <i>K<sub>sp</sub></i> is to 0, the less soluble the substance is. For example, table salt NaCl has a <i>K<sub>sp</sub></i> of 37.66. </p>

    <p>Because the <i>K<sub>sp</sub></i> of calcium oxalate is very small at 2.7 × 10<sup>−9</sup>, it is <em>sparingly</em> soluble in water. </p>

    <p>Applying this concept to renal calculi, this means that only a very small amount of calcium oxalate is needed to reach the solubility threshold in kidneys. Thus, if the solubility threshold is passed, the chemical equilibrium would shift to the <em>left</em>, and any extra oxalate anions would immediately form an ionic bond with any calcium cations floating in the urine to precipate into solid calcium oxalate.</p>

    <p>As calcium oxalate precipates, these precipates would aggregate together and grow larger in size. Eventually they become big enough to obstruct urine flow at the UP junction or at the ureter, causing extreme flank pain. </p>

    <h3>Clinical Presentation</h3>

    <p>The patient could be asymptomatic if the renal calculi is not obstructing the urinary tract. However, if the calculus is obstructing the urinary pathway, it could cause severe lower back flank pain. The patient could also present with hematuria resulting from the edges of the stone scrapping the inner wall of the ureter (Eisenberg & Johnson, 2015).</p>

    <p>Blood work may also indicate hypercalcaemia because of the relationship between high calcium intake and stones formation. Patients may also experience strangury, which is a symptom characterized by painful, frequent urination of small volumes that are expelled slowly only by straining and despite a severe sense of urgency, usually with the residual feeling of incomplete emptying (Eisenberg & Johnson, 2015). </p>

    <p>Other pathologies secondary to renal calculi may be detectable on diagnostic imaging. The most notable one being hydronephrosis, which is the dilation of the renal calyces caused by a calculus obstructing the ureter (CT scan). Urinary tract infection may also be present as urine cannot be adequately drained outside of the body, causing stasis within the urinary system (Eisenberg & Johnson, 2015). </p>

    <h3>Patient Care</h3>

    <p>A KUB AP Supine Abdomen radiograph is usually ordered to rule out renal calculi. As with all Acute Abdomen Series, always instruct the patient to put on a gown and remove all clothing except for undergarments so that no clothing artifact would appear on the radiogrpah. Often patients coming to the diagnostic imaging department may complain of having extreme flank pain which causes them to limp while walking. When this happens, it would be advisable for the technologist to assist the patient carefully onto the x-ray table prior to positioning. </p>

    <p>Center the central ray to the level of the iliac crest to include the pubic symphysis. The greater trochanter of the patient can also be palpated to ensure the pubic symphysis is included in the lower portion of the collimation field. When positioning, avoid touching the sore side to maximize patient comfort. Select the appropriate technical factors and expose at expiration (Lampignano & Kendrick, 2018). </p>

    <h3>Imaging Findings</h3>
    <ul>
        <li><b>Radiography</b></li>

        <p>It should be noted that around 80% of symptomatic patients have visible renal calculi on plain radiographs. However, since not all renal calculi are composed of radiopaque materials, around 34% of all stones are missed on plain abdomen radiographs (Eisenberg & Johnson, 2015).</p>

        <img src="{{site.baseurl}}/images/renal-calculi/kub-stones.jpg" class="pathology-images">
        <caption>Case coursey of Dr. Frank Gaillard. Radiopaedia.org. From the case: Renal calculus, pre- and post-ESWL</caption>

        <p>In the anteroposterior supine abdomen radiograph above, there is radiopacity in the left kidney suggestive of renal calculi.</p>

        <img src="{{site.baseurl}}/images/renal-calculi/kub-staghorn.jpg" class="pathology-images">
        <caption>Staghorn calculi (Eisenberg & Johnson, 2015)</caption>

        <p>The above plain abdomen radiograph shows staghorn calculi bilaterallly. The black arrow is poining to residual contrast left in the spinal canal from a previous spine imaging procedure. </p>

        <li><b>Computed Tomography</b></li>

        <p>CT is often the modality of choice because it provides abundant diagnostic information. It is a fast, accurate, and a safe modality. CT also has the ability to detect other pathologies secondary to renal calculi such as infection and hydronephrosis. One disadvantage of CT is the use of ionizing radiation. </p>

        <img src="{{site.baseurl}}/images/renal-calculi/ct-staghorn.jpg" class="pathology-images">
        <caption>Transverse CT showing staghorn calculi in left kidney (Eisenberg & Johnson, 2015)</caption>

        <p>The above transverse CT abdomen scan shows a staghorn calculi in the left kidney on a paediatric patient. A non-contrast CT abdomen is usually performed because the usage of contrast media would mask any renal calculi in the urinary system. At the posterior portion of the patient, there is notable streaking artifact at the lumbar vertebrae region.</p>

        <li><b>Intravenous Urography</b></li>

        <p>Intravenous urography can be done when CT is unavailable. This procedure involves the injection of contrast media through a percutaneous insertion of a catheter to the kidney, this method is known as antegrade imaging of the urinary system because contrast flows from kidney to the bladder. Another approach is to inject contrast media through the insertion of a catheter from  the urethra to the bladder, and up to the ureter, this method is retrograde instead. </p>

        <img src="{{site.baseurl}}/images/renal-calculi/fungus-ball.jpg" class="pathology-images">
        <caption>Hydronephrosis caused by a Cryptococcus fungus ball obstructing at the UP junction (Eisenberg & Johnson, 2015)</caption>

        <p>Here, we can see what seems to be an antegrade urography suggested by the insertion of a catheter percutaneously to the left kidney. This is an unusual case of a renal "calculi" because the object causing the hydronephrosis is not a stone, but rather a fungus ball obstructing and the urinopelvic junction. Hydronephrosis is evident by the mild distension of the renal calyces on this urograph. </p>

        <p>However, a disadvantage of intravenous urography is infection because we would be puncturing through the skin barrier and introducing instruments from outside to inside of the body. This method of imaging is also not as accurate as CT. </p>

        <li><b>Ultrasound</b></li>

        <p>Ultrasound is used when radiation is contraindicated, as in the case of a pregnancy. It is difficult to find renal calculi using sonography because small stones may remain undetected on sonograms. Ultrasound also requires an experienced and skilled sonographer to discover such stones. </p>

        <img src="{{site.baseurl}}/images/renal-calculi/us-stone.jpg" class="pathology-images"><br>
        <caption>Case courtesy of Dr Maulik S Patel, Radiopaedia.org. From the case Pelvic kidney.</caption>

        <p>This is a short axis sonogram of a pelvic kidney demonstrating a renal calculus. Notice the hypoerechoic region between the crosshairs. This is caused by the renal calculus being highly acoustically reflective. We also see the acoustic shadow trailing behind the renal calculus because there are no sound waves passing beyond the kidney stone (Patel, n.d.).</p>

    </ul>
    <h3>Treatment</h3>
    <ul>
        <li>Prevention</li>

        <p>Prevention of renal calculi can involve two methods that utilizes the chemical prinicple of <em>concentration</em>.</p>
        
        <ol>
            <li><b>Hydration:</b> Drinking more water dilutes and decreases the concentration of urine. This allows more renal calculi to dissolve and flush out of the body. </li>

            <li><b>Diet:</b> By decreasing the intake of lithogenic substances such as calcium, oxalate, and uric acid in diet, the concentration of these substances can be reduced in urine. Thus minimizing renal calculi formation. </li>

        </ol>

        <li>Medication</li>

        <p>The injection of litholytic medication into the kidney percutaneous through a catheter or a needle can dissolve stones chemically and allow renal calculi to pass out of the urinary system. The physician may also prescribe medication to be taken orally to dissolve kidney stones. Examples of such medication are <em>allopurinol</em> to dissolve uric acid stones by acting as an alkalizing agent (Mayo Clinic, 2020), and thiazide diuretics to prevent calcium stones from forming. </p>

        <li>Energy</li>

        <p>There are two methods of using energy to destroy kidney stones</p>

        <ol>
            <li><b>Laser Removal</b></li>

            <p>Laser removal is a sterile procedure performed by the urologist. This procedure involves the insertion of a laser probe in retrograde through the urethra to the bladder and then to the ureter. Once the laser probe is in place and the presence of the stone is confirmed by fluoroscopy, the urologist emitts laser energy aimming to the renal calculi in hopes of breaking the stone into smaller fragments. </p>

            <p>During this procedure, a stent can also be put in place to allow the proper flow of urine.</p>

            <p>The radiologic technologist's role in this procedure is primarily imaging. Although the physician is responsible for the administering of radiation, the technologist may need to assist in patient positioning and table movement to achieve the optimal images for diagnosis. </p>

            <li><b>Extracorporeal Shock Wave Lithotripsy (Virginia Hospital Center, n.d.)</b></li>

            <p>ESWL is a non-invasive method in which shock waves are delievered to the ureter to break down stones or any substances obstructing the flow of urine along the urinary tract. During an ESWL procedure, the patient can be put under sedation or general anaesthesia and radiography is used to properly aim the shock waves to the correct anatomy. </p>

            <p>Although ESWL is non-invasive, this procedure does not guarantee that stones would break post-ESWL. Certain types of stones such as oxlate stones can be resistant to shock waves and that larger stones could still break into smaller fragments that would still block the ureter.</p>

            <p>After ESWL, an abdominal radiograph should be done as a follow up to reassess for any residual fragments present. Proper imaging and treatment are to be taken should any calculi still be present.</p>

        </ol>

        <li>Surgical</li>

        <p>Surgical intervention is usually the last resort for treating renal calculi because of its traumatic nature. Patients undergoing this treatment usually have a very long recovery time. Thus, this method is not advisable unless all other treatment options have been exhausted (Eisenberg & Johnson, 2015). </p>

    </ul>
    <h3>Summary</h3>

    <p>In conclusion, renal calculi are stones formed anywhere within the urinary tract. Chemically, they are formed by the supersaturation of urine, which can be caused by a variety of pathological conditions (Prochaska, Taylor, Ferraro & Curhan, 2018).</p>

    <p>The most common clinical presentation of renal calculi is flank pain. Laboratory data such as hypercalcaemia and hypercalciuria can also indicate a potential presence of kidney stones. </p>

    <p>In radiology, diagnosis of renal calculi can be made by radiopacity of the urinary system in plain abdominal radiographs and urographs, hyperdense regions in computed tomography, and certain sonographic appearances such as acoustic shadow trailing behind a hyperechoic region. </p>

    <p>Treatment for renal calculi depends on the case. Treatment types can range from non-invasive methods such as ESWL to stenting, and that surgery is reserved as a last resort because of its traumatic and invasive nature. </p>

    <h3>References</h3>

    <ol>

    <li>Edvardsson, V. O., Goldfarb, D. S., Lieske, J. C., Beara-Lasic, L., Anglani, F., Milliner, D. S., &amp; Palsson, R. (2013). Hereditary causes of kidney stones and chronic kidney disease. Pediatric Nephrology, 28(10), 1923-1942. doi:10.1007/s00467-012-2329-z</li>

    <li>Eisenberg, R. L., &amp; Johnson, N. M. (2015). Comprehensive Radiographic Pathology. St Louis: Mosby.Goel, A. (n.d.). Twinkle and color comet-tail artifact: Radiology case. Retrieved February 21, 2021, from https://radiopaedia.org/cases/twinkle-and-colour-comet-tail-artifact?lang=us</li>

    <li>Jones, J. (n.d.). Urolithiasis: Radiology reference article. Retrieved February 19, 2021, from https://radiopaedia.org/articles/urolithiasi</li>

    <li>Patel, M. (n.d.). Pelvic kidney: Radiology case. Retrieved February 19, 2021, from https://radiopaedia.org/cases/pelvic-kidney?lang=us</li>

    <li>Prochaska, M., Taylor, E., Ferraro, P. M., &amp; Curhan, G. (2018). Relative supersaturation of 24-hour urine and likelihood of kidney stones. Journal of Urology, 199(5), 1262-1266. doi:10.1016/j.juro.2017.10.046</li>

    <li>Kidney stones. (2020, September 18). https://www.sepsis.org/sepsisand/kidney-stones/#:~:text=Struvite%20stones%20are%20virtua
        lly%20always,kidney%2C%20ureter%2C%20or
        %20bladder.</li>

    <li>Lampignano, J. P., Kendrick, L. E., &amp; Bontrager, K. L. (2018). Bontrager's textbook of radiographic positioning and related anatomy. Elsevier. </li>

    <li>Mayo Clinic. (2020, May 5). Kidney stones. https://www.mayoclinic.org/dise
        ases-conditions/kidney-st
        ones/diagnosis-treatment/drc-20355759#:~:tex
        t=Your%20doctor%20may%20prescrib
        e%20allopurino
        l,dissolve%20the%20uric%20acid%20stones.</li>

    <li>Virginia Hospital Center. (n.d.). ESWL (Extracorporeal Shock Wave Lithotripsy). 
        https://www.vhcphysiciangroup.com/
        urology/services/procedures
        /outpatient-surgery/extracorporeal-shock-wave-lithotripsy-eswl/#:~:
        text=ESWL%2C%20or%20extracorporeal
        20shockwave%20l
        ithotripsy,
        is%20directed%20at%20the%20stone.</li>

    </ol>

</div>
<div>
    {% include pathology-read-more.html %}
    {% include hz-social-bar.html %}
</div>