---
title: Renal Calculi
layout: posts
author: Ivan Chan
category: pathology
location: Guelph, ON
permalink: /:title/:year/:month/:day.html
excerpt: Urolithiasis, urinary calculi, or renal calculi, are all interchangeable terms that referes to the presence of stones anywhere along the course of the urinary system. Kidney stones are found most commonly in individuals between the ages of 30 to 60.
---

<div class="project-content">
    {% include page-heading.html %}
    {% include health-disclaimer.html %}
    <h3>Introduction</h3>

    <p><em>Urolithiasis</em>, <em>urinary calculi</em>, or <em>renal calculi</em>, are all interchangeable terms that referes to the presence of stones anywhere along the course of the urinary system (Gould's pathophysiology for the health professions). </p>

    <p>Kidney stones are found most commonly in individuals between the ages of 30 to 60. It is estimated that 5% of women and 12% of men will develop kidney stones in their life time (Young VB, Kormos WA, Chick DA et-al. Blueprints Medicine). </p>
    
    <p>Renal calculi are most commonly composed of calcium salts. Examples of stone composition are:
        <ul>
            <li>Calcium oxalate: the most common form of kidney stones</li>
            <li>Calcium phosphate</li>
            <li>Uric acid</li>
            <li>Cystine</li>
            <li>Struvite</li>
        </ul>
    </p>

    <h3>Etiology</h3>

    <p>Causes of renal calculi can be divided into three categories: 

        <ol> 
            <li>Metabolic
            <ul>
                <li><b>Hyperparathyroidism</b></li>
                <p>Disorders in the parathyroid glands, which are the four glands located at the posterior portion of the neck which regulates calcium levels in the blood, can cause hypercalcaemia.</p>
                <li><b>Increased calcium intake</b></li>
                <p>Increasing calcium intake in diet can cause hypercalcaemia, which would predispose the individual to develop calcium salt stones in the kidney.</p>
            </ul>
            </li>
            <li>Genetic (citation)
            <ul>
                <li><b>Familial hypomagnesaemia with hypercalciuria and nephrocalcinosis</b></li>
                <p>A rare genetic disorder of low blood magnesium with high calcium in urine calcium in kidney can predispose infans and children to form kidney stones.</p>
                <li><b>Adenine phosphoribosyltransferase deficiency</b></li>
                <p>According to the research by Edvardsson et al (2013), the deficiency of this adenine phosphoribosyltransferase has been linked to the formation of kidney stones. However, the pathway and mechanism of how the deficiency of this enzyme causes renal calculi is beyond the scope of this case review. </p>
            </ul>
            </li>
            <li>Other
            <ul>
                <li><b>Urinary stasis</b></li>
                <p>Urinary stasis from immobility can lead to chemical changes in urine, leading to kidney stones formation (citation).</p>
                <li><b>Urinary tract infection</b></li>
                <li><b>Diet</b></li>
                <p>High intake of lithogenic substances such as oxalic acid, uric acid, and calcium can increase the concentration of these chemicals in blood and urine, predisposing the individual to form kidney stones. </p>
            </ul>
        </ol>
    </p>

    <h3>Chemistry</h3>

    <p>Although the chemistry of kidney stones formation maybe beyond the knowledge of imaging professionals, it is important to understand the basic chemical processes of renal calculi in order to appreciate their image appearances.</p>

    <p>Let's consider the chemical equilirbium of calcium oxalate:</p>

    <p class="chemistry-reaction">CaC<sub>2</sub>O<sub>4</sub>(<i>s</i>) &nbsp;&nbsp; ⇌ &nbsp;&nbsp; Ca<sup>2+</sup>(<i>aq</i>)&nbsp;&nbsp; + &nbsp;&nbsp;C<sub>2</sub>O<sub>4</sub><sup>2−</sup>(<i>aq</i>)&nbsp;&nbsp | &nbsp;&nbsp<i>K<sub>sp</sub></i>&nbsp = &nbsp 2.7 × 10<sup>−9</sup></p>

    <p>The <em>solubility product constant</em> <i>K<sub>sp</sub></i> describes the solubility of a substance in water and it ranges from 0 onwards. The larger the <i>K<sub>sp</sub></i>, the more solubale the substance is. Conversely, the closer the <i>K<sub>sp</sub></i> is to 0, the less soluble the substance is. For example, table salt NaCl has a <i>K<sub>sp</sub></i> of 37.66. </p>

    <p>Because the <i>K<sub>sp</sub></i> of calcium oxalate is very small at 2.7 × 10<sup>−9</sup>, it is <em>sparingly</em> soluble in water. </p>

    <p>Applying this concept to renal calculi, this means that only a very small amount of calcium oxalate is needed to reach the solubility threshold in kidneys. Thus, if the solubility threshold is passed, the chemical equilibrium would shift to the <em>left</em>, and any extra oxalate anions would immediately form an ionic bond with any calcium cations floating in the urine to precipate into solid calcium oxalate.</p>

    <p>As calcium oxalate precipates, these precipates would aggregate together and grow larger in size. Eventually they become big enough to obstruct urine flow at the UP junction or at the ureter, causing extreme flank pain. </p>

    <h3>Clinical Presentation</h3>

    <p>The patient could be asymptomatic if the renal calculi is not obstructing the urinary tract. However, if the calculus is obstructing the urinary pathway, it could cause severe lower back flank pain. The patient could also present with hematuria resulting from the edges of the stone scrapping the inner wall of the ureter.</p>

    <p>Blood work may also indicate hypercalcaemia because of the relationship between high calcium intake and stones formation. Patients may also experience strangury, which is a symptom characterized by painful, frequent urination of small volumes that are expelled slowly only by straining and despite a severe sense of urgency, usually with the residual feeling of incomplete emptying. </p>

    <p>Other pathologies secondary to renal calculi may be detectable on diagnostic imaging. The most notable one being hydronephrosis, which is the dilation of the renal calyces caused by a calculus obstructing the ureter (CT scan). Urinary tract infection may also be present as urine cannot be adequately drained outside of the body, causing stasis within the urinary system. </p>

    <h3>Patient Care</h3>

    <p>A KUB AP Supine Abdomen radiograph is usually ordered to rule out renal calculi. As with all Acute Abdomen Series, always instruct the patient to put on a gown and remove all clothing except for undergarments so that no clothing artifact would appear on the radiogrpah. Often patients coming to the diagnostic imaging department may complain of having extreme flank pain which causes them to limp while walking. When this happens, it would be advisable for the technologist to assist the patient carefully onto the x-ray table prior to positioning. </p>

    <p>Center the central ray to the level of the iliac crest to include the pubic symphysis. The greater trochanter of the patient can also be palpated to ensure the pubic symphysis is included in the lower portion of the collimation field. When positioning, avoid touching the sore side to maximize patient comfort. Select the appropriate technical factors and expose at expiration. </p>

    <h3>Imaging Findings</h3>
    <ul>
        <li><b>Radiography</b></li>

        <p>It should be noted that around 80% of symptomatic patients have visible renal calculi on plain radiographs. However, since not all renal calculi are composed of radiopaque materials, around 34% of all stones are missed on plain abdomen radiographs. </p>

        <li><b>Computed Tomography</b></li>

        <p>CT is often the modality of choice because it provides abundant diagnostic information. It is a fast, accurate, and a safe modality. CT also has the ability to detect other pathologies secondary to renal calculi such as infection and hydronephrosis. One disadvantage of CT is the use of ionizing radiation. </p>

        <li><b>Intravenous Urography</b></li>
        <li><b>Ultrasound</b></li>
    </ul>
    <h3>Treatment</h3>
    <ul>
        <li>Prevention</li>
        <li>Medication</li>
        <li>Energy</li>
        <li>Surgical</li>
    </ul>
    <h3>Summary</h3>
    <h3>References</h3>
</div>
<div>
    {% include pathology-read-more.html %}
    {% include hz-social-bar.html %}
</div>