<!DOCTYPE html> 
<html lang="en-us">
<!--General Information--> 
<head>
    <meta charset="utf-8">
    <meta name="author" content="Ivan Chan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="image" property="og:image" content="https://itsmeivan.com/images/Github-social-media-preview.png">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <script src="{{site.baseurl}}/scripts.js" defer></script>
    <script src="https://kit.fontawesome.com/3deb9a4de2.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- Header & Navigation Bar -->
    {% include header.html %} 
<!-- Main content -->
<main class="content-wrap">
    <div class="project-content">
        {% include page-heading.html %}
        {% include disclaimer.html %}
        {{ content }}
    </div>
    <div>
        {% include projects-read-more.html %}
        {% include hz-social-bar.html %}
    </div>
</main>
<!-- Copyright & Social Media --> 
    {% include footer.html %}   
</body>
</html>